body{
  background-color: #B4BFC5;
}

.hero-container {
  display: flex;
  width: 40%;
  height: 70vh;
  margin-left: 70px;
  background-color: #B4BFC5;
}

.hero-column {
  flex: 1;
  position: relative;
  background-image: url("https://res.cloudinary.com/dt5grsivq/image/upload/v1741026059/still-life-tech-device_wktyyn.jpg");
  background-size: cover;
  background-position: center;
  margin: 0 19px;
  border-radius: 4px;
  overflow: hidden;
}

.hero-column::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(173, 185, 201, 0.7);
  z-index: 1;
}

.vertical-text {
  position: absolute;
  /* bottom: 20px; */
  right: 20px;
  transform: rotate(-90deg);
  transform-origin: right bottom;
  font-size: 24px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 2;
}

/* For better responsiveness */
@media (max-width: 768px) {
  .hero-container {
    flex-direction: column;
    height: auto;
  }

  .hero-column {
    height: 33vh;
    margin: 8px 0;
  }

  .vertical-text {
    transform: rotate(0);
    bottom: 10px;
    right: 10px;
    font-size: 18px;
  }
}

